@model _152728_153264.Models.PedidoLanche

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Pedido Lanche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lanche.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lanche.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoLancheId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
