@model _152728_153264.Models.Lanche

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Lanche</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            Produtos:
        </dt>
        <dd>
            @foreach (var produto in Model.LancheProduto)
            {

                <p>
                    <strong>Nome:</strong>@produto.Produto.Nome <br /> <strong>Quantidade:</strong>@produto.qtde<br />
                </p>

            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LancheID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
