@model _152728_153264.Models.Pedido

@{
    ViewBag.Title = "Details"; 
    
    }

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            Lanches:
        </dt>
        <dd>
            @{float total = 0; }
            @foreach (var lanche in Model.PedidoLanche)
            {

                <p>
                    <strong>Nome:</strong>@lanche.Lanche.Nome<br /> <strong>Preço:</strong> @lanche.Lanche.Preco<br />
                    @{ total += lanche.Lanche.Preco;
                    }
                </p>

                        }
        </dd>
        <dt>
            Total:
        </dt>
        <dd>
            @total
        </dd>
    </dl>
</div>

<h3>Lanches</h3>
<div class="form-group">
    <label class="control-label">Lanche</label>

    <select id="teamIdAdd" class="form-control">
        @foreach (var item in ViewBag.Lanches)
        {
            <option value="@item.LancheID">@item.Nome</option>
        }
    </select>

    <button class="btn btn-success" id="btnAdd">Adicionar</button>
</div>

<table id="PedidosbyLanches">
    <thead>
        <tr>
        <th>ID Lanche</th>
        <th>Nome</th>
        <th>Preco</th>
        <th>Deletar</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<p>
    <a href="~/PedidosLanches/Create">Adicionar Lanche</a> |
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts {
    <script>
    $(document).ready(function () {
        getLanches();

    });
    function getLanches() {
        var data = { Id:@Model.PedidoId};

        $.ajax({
            url: '/Pedidos/getLanches/',
            type: 'GET',
            dataType: 'json',
            data: data,
            success: function (data) {
            var rows = '';
                $.each(data, function (i, item) {
                    rows += "<tr>"
                        rows += "<td>" + item.LancheID + "</td>"
                        rows += "<td>" + item.Nome + "</td>"
                        rows += "<td>" + item.Preco + "</td>"
                        rows += "<td><button type='button' id='btnDelete' class='btn btn-danger' onclick='return deleteTeamById(" + item.LancheID + ")'>Delete</button></td>"
                        rows += "</tr>";
                    });
                $("#PedidosbyLanches > tbody").html(rows);
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
     });
    }
        // Insert/ Update a product
        $("#btnAdd").click(function (e) {
        var data = {
        Id: @Model.PedidoId,
        LancheId: $('#teamIdAdd').val()
        }
        $.ajax({
        url: '/Pedidos/AdicionaLanche/',
        type: 'POST',
        dataType: 'json',
        data: data,
        success: function () {
            getLanches();
        },
        error: function (err) {
            alert("Error: " + err.responseText);
        }
        });
        });

        function deleteTeamById(id) {
            var data = {
                Id: @Model.PedidoId,
                LancheId: id
            }
            $.ajax({
                url: '/Pedidos/DeletaLanche/',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (data) {
                    getLanches();
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });

        }





    </script>
}