@model _152728_153264.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt>
            Lanches:
        </dt>
        <dd>
            @{float total = 0; }
            @foreach (var lanche in Model.PedidoLanche)
            {

                <p>
                   <strong>Nome:</strong>@lanche.Lanche.Nome<br /> <strong>Quantidade:</strong>@lanche.qtde <br/><strong>Preço:</strong> @lanche.Lanche.Preco<br/>
                    @{ total += lanche.qtde * lanche.Lanche.Preco;
                }
                </p>

           }
        </dd>
        <dt>
            Total:
        </dt>
        <dd>
            @total
        </dd>
</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
